<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    Sidenav content
    <mat-nav-list>
      <a mat-list-item routerLink="." *ngFor="let nav of menus">{{ nav }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
<mat-toolbar color="primary">
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>home</mat-icon>
  </button>
  <img src="./sda.jpg" alt="logo empresa" />
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>person</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>help</mat-icon>
  </button>
</mat-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>
