
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
        <img src="./sda.jpg" alt="logo JL" />
        
        <div *ngFor="let nav of menus">
          <app-menu-list-item [item]="nav" [depth]="0"></app-menu-list-item>
        </div>
      
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="container">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

      
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>help</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet>
        <h1>sda</h1>
    </router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>